{% extends "layout.html"%}
{%block content%}
    <h1>Perform the calculations!!</h1>
    <div>
        <form method="POST", action="">
            {{form.hidden_tag()}}
            <div>
                {{form.lmp.label}}
                <br>{{form.lmp}}</br>
            </div>
            <br> </br>
            <div>
                {{form.calculations}}
             </div>
            <br> </br>
            <div>
                <p>Check other dates here</p>
             </div>
            <div>
                {{form2.required_week.label}}
                <br>{{form2.required_week}}</br>
            </div>
            <div>
                {{form2.calculations}}
             </div>
            <br> </br>
            <div>
                {{form3.required_date.label}}
                <br>{{form3.required_date}}</br>
            </div>
            <div>
                {{form3.calculations}}
             </div>
        </form>
    </div>
{%endblock content%}